# Exercise # 1:
Given a Python list you should be able to display Python list in the following order

aLsit = [100, 200, 300, 400, 500]

Expected output:

[500, 400, 300, 200, 100]

In [12]:
print("Given List:")
aLsit = [100, 200, 300, 400, 500]
print(aLsit)
print("Expected List:")
print(aLsit[::-1])

Given List:
[100, 200, 300, 400, 500]
Expected List:
[500, 400, 300, 200, 100]

# Exercise # 2: 

Concatenate two lists index-wise

list1 = ["M", "na", "i", "Ke"] 

list2 = ["y", "me", "s", "lly"]

Expected output:

['My', 'name', 'is', 'Kelly']

In [13]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
print(f"The original list 1 is: {list1}")
print(f"The original list 2 is: {list2}")
#using list comprehension + zip() method to concatenate elements with same index from both the lists
inter_connect = [a + b for a, b in zip(list1, list2)]
print(f"The list after concatenation of same indexes of two different lists is: {inter_connect}")

The original list 1 is: ['M', 'na', 'i', 'Ke']
The original list 2 is: ['y', 'me', 's', 'lly']
The list after concatenation of same indexes of two different lists is: ['My', 'name', 'is', 'Kelly']


# Exercise Question 3: 
Given a Python list. Turn every item of a list into its square

aList = [1, 2, 3, 4, 5, 6, 7]

Expected output:

[1, 4, 9, 16, 25, 36, 49]

In [18]:
aList = [1, 2, 3, 4, 5, 6, 7]
bList = []
for a in aList:
    bList.append(a*a)
print(f"Square of {aList} is: \n \t {bList}")

Square of [1, 2, 3, 4, 5, 6, 7] is:
 	 [1, 4, 9, 16, 25, 36, 49]

# Exercise # 4: 
Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [3]:
list1 = ['Hello ', 'take ']
list2 = ['Dear', 'Sir']
list3 = []
for i in list1:
    for j in list2:
        list3.append(i +j)
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

# Exercise # 5: 
Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

list1 = [10, 20, 30, 40]

list2 = [100, 200, 300, 400]

Expected output:

10 400

20 300

30 200

40 100

In [13]:
list1 = [10,20,30,40]
list2 = [100, 200, 300, 400]
for a,b in zip (list1, list2[::-1]):
     print(a,b)

10 400
20 300
30 200
40 100


# Exercise # 6 :
Remove empty strings from the list of strings

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

Expected output:

["Mike", "Emma", "Kelly", "Brad"]

In [4]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
print(f"list before removing empty strings is: {list1}")
list2 = list1.pop(1) , list1.pop(3)
print(f"list after removing empty strings is: {list1}")

list before removing empty strings is: ['Mike', '', 'Emma', 'Kelly', '', 'Brad']
list after removing empty strings is: ['Mike', 'Emma', 'Kelly', 'Brad']

# Exercise # 7 :
Write a Python program to convert temperatures to and from celsius, fahrenheit. Go to the editor
[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]
Expected Output :
60°C is 140 in Fahrenheit
45°F is 7 in Celsius

In [16]:
#Celsius = (Fahrenheit – 32) * 5/9
#Fahrenheit = (Celsius * 9/5) + 32
#conversion of celsius into fahrenheit
c_temp = int(input("enter the temperature in Celsius "))
f_temp = (c_temp * 9//5) + 32  
print(f"{c_temp}C is {f_temp}F in Fahrenheit temperature")
#conversion of Fahrenheit into Celsius
fahrenheit = int(input("Enter temperature in fahrenheit: "))
celsius = (fahrenheit - 32) * 5//9
print(f"{fahrenheit}F is {celsius}C in Celsius temperature" )

60C is 140F in Fahrenheit temperature
45F is 7C in Celsius temperature

# Exercise # 8
Write a Python program to guess a number between 1 to 9.
Note : User is prompted to enter a guess. If the user guesses wrong
then the prompt appears again until the guess is correct, on successful guess,
user will get a "Well guessed!" message, and the program will exit.

In [5]:
guess_the_number = (1,3,4,5,6,7,8,9)
while True:
    to_be_guessed = int(input('Enter the number between 1 to 9 to guess what actually I guessed: '))
    if to_be_guessed == guess_the_number:
        print("Try Again!")
    elif to_be_guessed == 2:
        print("Well Guessed!")

    else:
        print("Alas! out of range :( \n ")

Alas! You must try again :(

Alas! You must try again :(

Alas! You must try again :(

Alas! You must try again :(

Well Guessed!

# Exercise # 9
Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [5]:
for a in range(7):
    if a == 3 or a == 6:
        continue
    print(a)

0
1
2
4
5

# Exercise # 10
Write a Python program which iterates the integers from 1 to 50.
For multiples of three print "it is multiple of 3" instead of the number 
and for the multiples of five print "multiple of 5". For numbers which are 
multiples of both three and five print "multiple of both 3 and 5"

In [2]:
for q in range(1,51):
    if (q % 3 == 0) and (q % 5 == 0):
        print(f"{q} is divisible by 3 and 5 both")
    elif (q % 5 == 0):
        print(f"{q} is divisible by 5")
    elif (q % 3 == 0):
        print(f"{q} is divisible by 3")
    else:
        print(q)

1
2
3 is divisible by 3
4
5 is divisible by 5
6 is divisible by 3
7
8
9 is divisible by 3
10 is divisible by 5
11
12 is divisible by 3
13
14
15 is divisible by 3 and 5 both
16
17
18 is divisible by 3
19
20 is divisible by 5
21 is divisible by 3
22
23
24 is divisible by 3
25 is divisible by 5
26
27 is divisible by 3
28
29
30 is divisible by 3 and 5 both
31
32
33 is divisible by 3
34
35 is divisible by 5
36 is divisible by 3
37
38
39 is divisible by 3
40 is divisible by 5
41
42 is divisible by 3
43
44
45 is divisible by 3 and 5 both
46
47
48 is divisible by 3
49
50 is divisible by 5

# Exercise # 11
Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [2]:
table = int(input("Enter the number to see the table: "))
for a in range(1,11):
    print(table, 'x', a, '=', table*a)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

# Exercise # 12
Get all diagonal of matrix and sum of it :
matrix = [[1,2,3,4], [2,3,4,5], [3,4,5,6], [4,5,6,7]]